%h1 Listing users

%table
  %thead
    %tr
      %th Login
      %th NickName
      %th Comment
      %th Enabled
      %th Authorization
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.login_id
        %td= user.nickname
        %td= user.comment
        %td= user.enabled
        %td= user.authorization
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
