%p#notice= notice

%p
  %b Name:
  = @user.nickname

%table
  %thead
    %tr
      %th Title
      %th Book
  %tbody
    - @reviews.each do |review|
      %tr
        %td= link_to review.title, review
        %td= link_to review.book.title, review.book

= link_to 'Back', users_path
