%h1 Welcome

- if signed_in?
  %p= current_user.login_id
  %p= image_tag current_user.user_image_url, size: '100x100'
  %p= link_to "sing out", sign_out_path, method: :delete

%h2 書籍一覧

%table.mdl-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th
      %th Title
      %th Author
  %tbody
    - @books.each.with_index(1) do |book, index|
      %tr
        %td= image_tag book.amazon_image_url
        %td= link_to book.title, book
        %td= book.author
