%h1 Listing books

= paginate @books

%table
  %thead
    %tr
      %th
      %th Title
      %th Description
      %th Author
      %th Asin
      %th
      %th
      %th

  %tbody
    - @books.each.with_index(1) do |book, index|
      %tr
        %td #{index}
        %td= book.title
        %td= book.description
        %td= book.author
        %td= book.asin
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= paginate @books

= link_to 'New Book', new_book_path
