%p#notice= notice

%p
  %b Title:
  = @review.title
%p
  %b Description:
  = @review.description_output
%p
  %b User:
  = @review.user_id
%p
  %b Book:
  = @review.book.title
%p= @review.deleted_at

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
