!!!
%html
  %head
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}
    %title BookReviews
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_link_tag 'https://code.getmdl.io/1.2.0/material.indigo-pink.min.css'
    = javascript_include_tag 'https://code.getmdl.io/1.2.0/material.min.js'
    = csrf_meta_tags
  %body

    .global_navi
      .title= link_to 'BookReviews', root_path
      .user
      - if signed_in?
        %span= current_user.login_id
        %span= link_to "sing out", sign_out_path, method: :delete
      - else
        %span= link_to "Googleアカウントでサインイン", "/auth/google_oauth2"

    = yield
