!!!
%html
  %head
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}
    %title BookReviews
    = csrf_meta_tags
  %body
    = link_to "書籍一覧", books_path
    = link_to "口コミ一覧", reviews_path
    - if signed_in?
      = link_to "sing out", sign_out_path, method: :delete
    - else
      = link_to "Googleアカウントでサインイン", '/auth/google_oauth2'
    %main
      = yield
